@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* base style  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    /* width: 100%; */
    margin-left: 40px;
    margin-right: 40px;
}


.top-banner {
    display: flex;
    background-color: #161616;
    border-radius: 15px;
}

.banner-title {
    font-size: 50px;
    color: #fff;
    margin-left: 100px;
    margin-bottom: 0;
}

.banner-para {
    font-size: 16px;
    color: #fff;
    margin-left: 100px;
}

.button-1 {
    background-color: #DD0000;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px;
    margin-left: 100px;
    border-radius: 8px;
}

.banner-image img {
    Width: 581px;
    Height: 613px;
}

/* ---------
container style 
    --------------*/
.container {
    display: flex;
    margin-top: 100px;

}

.aside {
    display: grid;
    align-items: center;
    width: 312px;
    height: 312px;
    margin: 5px;
    border-radius: 10px;
    background-color: #161616;
}

.update-box {
    margin: 30px;
    width: 252px;
    height: 252px;
}

#next-pgae:hover {
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.update {
    display: grid;
    align-items: center;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    background-color: wheat;

}

.update a {
    display: grid;
    justify-content: center;
    color: #161616;
    font-size: 20px;
    text-decoration: none;


}

#group {
    margin-top: 30px;
}

#blog {
    background-color: maroon;
    margin-top: 30px;
}

/* hover efect */
#blog:hover {
    border: 2px solid orchid;
}

#blog a {
    color: #fff;
}

/* -----------
article style 
        -----------*/
.today-match {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}

.goal-time {
    border: 1px solid gainsboro;
    border-radius: 8px;
}

.goal img {
    Width: 300px;
    Height: 150px;
    border-radius: 8px;
}

.button-2 {
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(234, 90, 167);
}

.match-detail {
    padding: 20px;
}

.match-info {
    font-size: 18px;
}

.duration {
    display: flex;
}

.duration p {
    display: flex;

}

.duration img {
    margin-right: 10px;
}

.button-3 {
    background-color: #DD0000;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 7%;
    margin-left: 45%;
    color: #fff;
    display: none;
}

/* footer style  */

.footer {
    Width: 100%;
    Height: 300px;
    margin-top: 100px;
    background-color: rgb(8, 8, 48);
}

.goal {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.anchor {
    display: flex;
    justify-content: center;
}

.anchor a {
    margin: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    opacity: .6;
}

/*-------------
 media quary style 
        -- ------------*/
@media only screen and (max-width: 688px) {
    .main {
        width: 100%;
    }

    .top-banner {
        display: block;
        flex-direction: column;

    }

    .container {
        display: block;
        align-items: flex-start;

    }

    .aside {
        display: block;
        width: 0px;
    }

    #group,
    #next-pgae {
        background-color: #fff;
        border: 1px solid lightgrey;
    }

    .aside {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .update-box {
        width: 0;
        height: 0;
    }

    #next-page {
        width: 210px;
        height: 48px;
    }

    #group {
        width: 160px;
        height: 48px;
    }

    #blog {
        height: 48px;
        width: 160px;
    }


    .anchor {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .anchor a {
        text-align: center;
        margin: 5px;

    }

    .today-match {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .button-3 {
        display: none;
    }
}

/*-------------------
 media quary tablet style 
            -------------------*/

@media only screen and (min-width:768px) and (max-width: 992px) {


    .container {
        display: block;
    }

    .top-banner {
        width: 734px;
    }

    .today-match {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .aside {
        display: flex;
        width: 0;
    }


    .update-box {
        width: 0;
        justify-content: space-evenly;
    }

    .button-3 {
        display: block;
    }

    .footer {
        width: 834px;
        height: 345px;
    }

    .anchor {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #footer {
        position: relative;
        left: 90%;
    }
}